<!-- Example binding attributes -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue.js-examples</title>
  </head>
  <body>
    <div id="app">{{ message }}</div>
    <div id="app2">
      <span  v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
    </div>
    <div id="app3">
      <p v-if="seen">Now you can see me</p>
    </div>
    <div id="app4">
      <ol>
        <li v-for="todo in todos">
          {{ todo }}
        </li>
      </ol>
    </div>
    <div id="app5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse message</button>
    </div>
  </body>
</html>
